$white: #fff;
$header-bg: #282c34;
$app-link: #61dafb;

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  max-width: 80vw;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.app-header {
  align-items: center;
  background-color: $header-bg;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.app-link {
  color: $app-link;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
